<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @workshop.name %>
</p>

<p>
  <b>Talker:</b>
  <%= @workshop.talker %>
</p>


<%= link_to 'Back', conference_path(@workshop.conference_id) %>
 |
