/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */
h1 {
padding-top: 5%;
font-family: Comic Sans MS;
text-align: center;
font-size: 70px;

}

#banner {
  
  padding-top: 10px;
  padding-bottom: 10px;
  border-bottom: 2px solid;
  text-align: center;
}

#content{
  
  
  text-align: center;
  background-image: url(Content2.png)

}
td {
	text-align: center;
	padding-left: 35px;
	font-size: 30px;
	
}
th {
	text-align: center;
	padding-left: 35px;
	font-family: Comic Sans MS;
	font-size: 30px;
	text-decoration: underline;
}